<% fillings = ["carnitas", "al pastor"] %>



<h1> I love tacos! </h1>
<p> There are so many types of tacos! </p>
<ul>
    <li> Carnitos </li>
    <li> Al Pastor </li>
</ul>

<p> Currently, there are <%= fillings.count %> tacos </p>